<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style th:replace="~{fragment.html::css}"></style>
</head>
<body>
<div th:replace="~{fragment.html::header}"></div>
<div class="row mt-1 container-fluid">
    <div class="dropdown col-2">
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%">
            <th:block  th:text="'Manager'"></th:block>
        </button>
        <ul class="dropdown-menu ">
            <!--                    <li th:each="supplies : ${suppliesTypePage}">-->
            <!--                        <a  class="dropdown-item" th:href="@{/supplies(suppliesTypeId=${supplies.id})}"-->
            <!--                            th:text="${supplies.nameTypeSupplies}" ></a>-->
            <!--                    </li>-->
            <li>
                <a th:href="@{/accessories}" th:if="${searchList}" class="dropdown-item btn btn-sm btn-primary">Home</a>
                <a th:href="@{/accessories/create}" class="dropdown-item btn btn-sm btn-primary">Create Accessories</a>
                <a class="dropdown-item btn btn-sm btn-primary" th:href="@{/accessories-type/home}" th:text="'Accessories Type Mangager'"></a>
            </li>
        </ul>
    </div>

    <form th:action="@{/accessories/search}" method="get" class="col-10">
        <div class="row">
            <div class="col-9">
                <input class="form-control form-control-sm" type="text" placeholder="Title"
                       aria-label=".form-control-sm example" name="name" th:value="${name}">
            </div>
            <div class="col-2">
                <select name="nameType" class=" btn btn-light btn-sm">
                    <option th:value="''" th:if="${nameType == null}">Accessories Type</option>
                    <option th:value="${nameType}" th:if="${nameType == ''}" >Accessories Type</option>
                    <option th:value="${nameType}" th:if="${nameType != null && nameType !=''}" th:text="${nameType}"></option>
                    <option th:each="accessoriesType : ${accessoriesTypeList}" th:if="${accessoriesType != nameType}" th:text="${accessoriesType}" th:value="${accessoriesType}"></option>
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-sm btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid mt-2" style="height: 77vh;">
    <table class="table-hover table " border="1" style="text-align: center">
        <thead>
        <tr class="table100-head bg-secondary text-light">
            <th class="column1">Id</th>
            <th class="column2">Name</th>
            <th class="column4">Price</th>
            <th class="column5">Origin</th>
            <th class="column6">Accessories Types</th>
            <th class="column6">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${ordersPage}"  style="width: 20vw">
<!--            <td class="column1" th:text="${accessories.id}"></td>-->
<!--            <td class="column2" th:text="${accessories.name}"></td>-->
<!--            <td class="column3" th:text="${accessories.price}"></td>-->
<!--            <td class="column4" th:text="${accessories.origin}"></td>-->
<!--            <td class="column5" th:text="${accessories.accessoriesType.nameType}"></td>-->
<!--            <td class="column5">-->
<!--                <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal"-->
<!--                        data-bs-target="#exampleModal" th:text="Delete"-->
<!--                        th:attr="onclick=|deleteSupplies(${accessories.id},'${accessories.name}')|"></button>-->
<!--                <a class="btn btn-sm btn-warning" th:text="'Update'"-->
<!--                   th:href="@{/accessories/update(id = ${accessories.id})}"></a>-->
<!--                <a class="btn btn-sm btn-info" th:text="'Detail'"-->
<!--                   th:href="@{/accessories/detail(id = ${accessories.id})}"></a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragment.html::footer}"></div>
</body>
</html>