<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="static/crud_table.css">
    <style th:replace="~{fragment.html::css}"></style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper">

    </div>
    <div class="container-fluid all-show">
        <a class="navbar-brand" th:href="@{/}" style="margin-top: -2.3vh;color: white;font-family: 'Allerta Stencil', sans-serif" >Happy <br>Paws<img
                src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/19454/cat-s-paw-clipart-md.png"
                height="45"
                alt="MDB Logo"
                loading="lazy" style="transform: rotate(-18deg);margin-top: -6.5vh;margin-left: 1vw"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
            <button class="btn dropdown-toggle" style="background-color:#f8b8be;color: #000000 " type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                MANAGER
            </button>
            <ul class="dropdown-menu text-dark">
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item active"
                       th:href="@{/api/admin/product}">Products</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item"
                       th:href="@{/api/admin/pet-service/list}">Services</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item"
                       th:href="@{/api/admin/booking-service/list}">Booking</a></li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item" th:href="@{/employee}">Employees</a>
                </li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item" th:href="@{/customer}">Customers</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown-item"
                       th:href="@{/orders}">Orders</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <div class="d-flex flex-column sim" style="float: right">
                <div class="dropdown dropstart" style="margin-top: 0.7vh">
                    <button style="border-radius: 20px;background-color: white;border: 1px solid #f8b8be;margin-left: 61vw;"
                            class="btn dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu text-dark">
                        <li><a class="dropdown-item" href="#">
                            <i class="material-icons">&#xE7fd;</i>
                            <b th:text="${#authentication.getName()}"></b>
                        </a></li>
                        <li><a class="dropdown-item" th:href="@{/account/logout}"><i
                                class="material-icons">&#xE9ba;</i>Logout </a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>


<section class="vh-100" style="background-color: #fdccbc;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Shopping Cart </span><span class="h4"></span></p>

                <div class="card mb-4" th:each="cart: ${cartList}">
                    <div class="card-body p-4">

                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                     class="img-fluid" alt="Generic placeholder image">
                            </div>
                            <div class="col-md-1 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">ID</p>
                                    <p class="lead fw-normal mb-0" th:text="${cart.cartId}"></p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Name</p>
                                    <p class="lead fw-normal mb-0" th:text="${cart.product.name}"></p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                                    <a th:href="@{/reduce/{id}(id=${cart.cartId})}" class="btn btn-danger" th:text="${'-'}"></a>
                                    <span th:text="${cart.quantity}"></span>
                                    <a id="increase_button" th:href="@{/add/{id}(id=${cart.cartId})}"
                                       style="color: white;text-decoration: none" class="btn btn-primary" th:text="${'+'}"></a>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Unit Price</p>
                                    <p class="lead fw-normal mb-0" th:text="'$'+${cart.product.price}"></p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Total</p>
                                    <p class="lead fw-normal mb-0"  th:text="'$'+${cart.product.price * cart.quantity}"></p>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                            <div class="col-md-1 d-flex justify-content-center">
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr="onclick=|deleteByID(${cart.cartId},'${cart.product.name}')|">
                                    <span  class="fa-solid fa-xmark fa-2xl" style="color: #af79aa;"></span><span></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body p-4">

                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Number of Item:</span> <span
                                    class="lead fw-normal" th:text="${totalItem}"></span>
                            </p>
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Order total:</span> <span
                                    class="lead fw-normal" th:text="'$'+${totalBill}"></span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">
                        Payment
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/delete-product}" method="get">
                <div class="modal-body">
                    <input type="text" id="id" name="id" hidden>
                    Do you want to delete  <span style="color: red" id="name"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal Payment -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Purchase confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This move can not return or undo ! please contact to Shop for futher Helping !
                Please click the "Accept Button" if your payment is  certain !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer" style="position: relative;bottom:-55vh">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>Address</h3>
                        <ul>
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item text">
                        <h3>HappyPaws.com</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i
                            class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
                </div>
                <p class="copyright">HappyPaws.com &copy; 2020</p>
            </div>
        </footer>
    </div>
</div>



<script>
    function deleteByID(id,name){
        document.getElementById("id").value = id;
        document.getElementById("name").innerText=name;
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>